@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import "tailwindcss";

@layer base {
    *,
    ::before,
    ::after {
        box-sizing: border-box;
        padding: 0px;
        margin: 0px;
        border-width: 0px;
        border-style: solid;
    }

    ::before,
    ::after {
        --tw-content: "";
    }

    html {
        font-family: "Noto Sans KR", sans-serif;
        -webkit-text-size-adjust: none;
    }

    @supports not (min-block-size: 100dvb) {
        :where(html) {
            block-size: 100%;
        }
    }

    body {
        block-size: 100dvb;
        font-family: inherit;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #1d1f2d;
    }

    body > div#root {
        @apply flex h-full flex-1 flex-col;
    }

    /* 스크롤바 스타일 */
    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        -webkit-appearance: none;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: transparent;
    }
}

.isHidedScrollBar {
    min-width: 1080px;
    height: 1920px;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.isHidedScrollBar::-webkit-scrollbar {
    display: none;
}

.isPortrait.Idrh82 {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20241226172054.png");
    background-size: cover;
}
.isPortrait.I21sc {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20241118120006.png");
    background-size: cover;
}
.isPortrait.Ipyc21 {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20241118122153.png");
    background-size: cover;
}
.isPortrait.Ipsalm {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20241118120359.png");
    background-size: cover;
}
.isPortrait.Ikg21 {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240105182742.png");
    background-size: cover;
}
.isPortrait.I35kwon {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20241011105131.png");
    background-size: cover;
}
.isPortrait.Ikitk {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240105182718.png");
    background-size: cover;
}
.isPortrait.Issungm {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240105182828.png");
    background-size: cover;
}
.isPortrait.Ilsh18 {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240105190221.png");
    background-size: cover;
}
.isPortrait.Ilanlch {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240105183515.png");
    background-size: cover;
}
.isPortrait.I34k122 {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240108150228.png");
    background-size: cover;
}
.isPortrait.I36k122 {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240108150228.png");
    background-size: cover;
}
.isPortrait.I34skim {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240108145832.png");
    background-size: cover;
}
.isPortrait.I34sw {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240108150252.png");
    background-size: cover;
}
.isPortrait.I34ajh {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240924173452.png");
    background-size: cover;
}
.isPortrait.Iajh {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240924173452.png");
    background-size: cover;
}
.isPortrait.I34j {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240108150435.png");
    background-size: cover;
}
.isPortrait.I34hs {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240924140331.png");
    background-size: cover;
}
.isPortrait.Ikhs {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20241011105007.png");
    background-size: cover;
}
.isPortrait.Iwj {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240105184741.png");
    background-size: cover;
}
.isPortrait.I36ssjw {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20241011104808.png");
    background-size: cover;
}
.isPortrait.I35min {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20231228162857.png");
    background-size: cover;
}
.isPortrait.I35kmhh {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20231228140628.png");
    background-size: cover;
}
.isPortrait.Issi {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20241104182954.png");
    background-size: cover;
}
.isPortrait.Ijwju {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240925103344.png");
    background-size: cover;
}
.isPortrait.IJJM365 {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240925103408.png");
    background-size: cover;
}
.isPortrait.Imed07 {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240925121738.png");
    background-size: cover;
}
.isPortrait.Ilhj {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20241014111120.png");
    background-size: cover;
}
.isPortrait.Ish {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240925103137.png");
    background-size: cover;
}
.isPortrait.I04lsy {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240925103311.png");
    background-size: cover;
}
.isPortrait.Ipingwa {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240925101547.png");
    background-size: cover;
}
.isPortrait.Ihj {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20231218164213.png");
    background-size: cover;
}
.isPortrait.Ilsh {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240105190221.png");
    background-size: cover;
}
.isPortrait.Ifm0514 {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240722175716.png");
    background-size: cover;
}
.isPortrait.Iktk {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240105182718.png");
    background-size: cover;
}
.isPortrait.Ijj8181 {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20241011104927.png");
    background-size: cover;
}
.isPortrait.Ikg35 {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20240105182742.png");
    background-size: cover;
}
.isPortrait.Iminz {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20231228163415.png");
    background-size: cover;
}
.isPortrait.Iminz18 {
    background: url("https://365mc.co.kr/uploads/doctor_intro/dr/20231228163415.png");
    background-size: cover;
}
