@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  color:rgba(58,62,89,1);
  font-family: 'Noto Sans KR', sans-serif;
  letter-spacing: -.03em;
  word-break: keep-all;
  margin:0;
  padding:0;
  border:none;
  position: relative;
  box-sizing: border-box;
}